/* Om Ganapathi Siddhi Buddhi
Omshakthi amma Shivappa
Vishnu Lakshmi
Brahama Saraswathi
Dakshina murthy Hayagriva
Sri Venkateshwara Sri Vidya Vijaya Gnana Dhyrya Aurogya Samaya spoorthi Lakshmi devi */

/* reset CSS */


body {
 
 
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

ul li{
  list-style-type: none;
}